# Dependencies
node_modules

# Build output
dist

# Git
.git
.gitignore

# IDE
.idea
.vscode
*.swp
*.swo

# Environment files (build from CI/CD)
.env
.env.*
!.env.example

# Logs
logs
*.log
npm-debug.log*

# Test files
coverage
.nyc_output
*.spec.ts
test

# Docker files
Dockerfile*
docker-compose*
.dockerignore

# OS files
.DS_Store
Thumbs.db

# Documentation
*.md
!README.md

# Temporary files
tmp
temp
